accelerate>=0.22.0
addict
albumentations
cachetools
clip-interrogator
color-matcher
deepdiff
dill
diffusers>=0.28.0
einops
filelock
fvcore
ftfy
GitPython
huggingface_hub
huggingface-hub>0.20
importlib_metadata
matplotlib
matrix-client==0.4.0
mediapipe
mss
numexpr
numpy<2
omegaconf
onnxruntime
opencv-python>=4.7.0.72
opencv-python
opencv-python-headless
pandas
pillow>=10.3.0
Pillow>=9.5.0
piexif
py-cpuinfo
PyGithub
pynvml
python-dateutil
pyyaml
rich
scikit-image
scikit-learn
scipy>=1.11.4
segment-anything
simpleeval
svglib
transformers>=4.32.1
trimesh[easy]
typing-extensions
typer
webcolors
yacs
yapf